<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class = "h-full w-5/6 mx-auto">
    <h1 class="text-center font-bold text-5xl text-blue-500"> Where is this? </h1>
    <div class = "h-full mx-auto w-4/5 bg-purple-100 py-5 px-5 my-5 rounded-lg">
      <div class = "rounded-lg" id = "panorama">
      </div>
    </div>
  </div>
  <div id="locations" class="min-w-full">
  <input type="hidden" id="location_data" data-variable = "<%= @locations.to_json %>">
    <%= render @locations %>
  </div>
  <%= link_to "New location", new_location_path, class: "rounded-lg py-2 px-1 bg-blue-600 text-white block font-medium w-28" %>
</div>




