<div class="w-full mx-auto">
  <% if @final_result_flag == false %>
    <h1 class="text-center text-5xl">😩😩😩 全問正解ならず...😩😩😩 <br/> 😡何をしているのですか😡</h1>
    <%= image_tag asset_path("incorrect.jpeg") , class: "w-80% sm:w-8 h-auto mx-auto py-5 px-5 my-5 rounded-lg" %>
    <%= twitter_share_link("😩😩😩 全問正解ならず...😩😩😩  😡何をしているのですか😡", "text-justify text-4xl") %>
  <% else %>
    <h1 class="text-center text-5xl">🎉🎉🎉 全問正解おめでとう 🎉🎉🎉<br/> 📍あなたはstreetViewマスターです📍</h1>
    <%= image_tag asset_path("correct.jpeg"), class: "w-80% sm:w-8 h-auto mx-auto py-5 px-5 my-5 rounded-lg" %>
    <%= twitter_share_link("🎉🎉🎉 全問正解おめでとう 🎉🎉🎉 📍あなたはstreetViewマスターです📍", "text-justify text-4xl") %>
  <% end %>
</div>





