<div class="w-full">
  <div class = "h-full w-full mx-auto">
    <div class = "mt-10">
      <h1 class="text-center font-bold text-5xl text-gray-500"> Where is this? </h1>
    </div>
  </div>
</div>
<div class="w-full mx-auto">
  <div class = "mt-10">
    <h1 class="text-center text-4xl leading-10"> 🌏StreetViewツアーへようこそ🌏 </h1>
  </div>
  <div class = "mt-10">
    <p class="text-center text-4xl leading-10"> これから、ストリートビューの景色をお見せします</p>
  </div>
  <div class = "mt-10">
    <p class="text-center text-4xl leading-10"> その景色から、どこの景色かを推理してください👓👓 </p>
  </div>
  <div class = "mt-10">
    <p class="text-center text-4xl leading-10"> 全部で5問、全問正解目指して頑張ってください！ </p>
  </div>
</div>

<%= link_to "ツアーへ行く",locations_path, class: "rounded-lg mx-auto mt-10 py-2 px-1 bg-blue-600 text-center text-white block font-medium w-52 cursor-pointer", data: {turbo: false} %>








